@use '@gear-js/ui/variables' as *;

.wallet {
  display: flex;
  align-items: center;
  position: relative;
  color: black
}

.balance {
  margin-right: 25px;
  font-size: $fontSizeMedium;
  color: black
}

.currency {
  color: black;
}
